<div class="section-breadcrum content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Trang chủ</a></li>
      <li class="breadcrumb-item"><a routerLink="/blog">Tin tức</a></li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="blog">
  <div class="blog_list">
    <h4><a href="/blog-detail-1">Không cần hóa chất tẩy rửa, những mẹo sau đây giúp làm mới đồ gỗ hiệu quả nhất.</a></h4>
    <h5>January 3rd, 2020 | 16:18</h5>
    <div class="blog_para row">
      <a href="details.html" class="col-5"><img src="assets/images/blog1.jpg"></a>
      <div class="col-7">
      <p class="para1">Với những món đồ bên trung tâm chúng tôi mua về đều có quy trình xử lý tẩy sơn cũ ra một công đoạn hết sức kỳ công làm đi làm lại...
        <br/>Mỗi công nhân đều oàn mình ra tẩy sơn rồi trà giáp mông vết nứt nẻ trong quá trình sử dụng rồi lại tắm lại bằng vòi nước vôi trong để khô rồi mới cho vào...
        <br/>Đánh chổi tre rồi lấy lá chuối khô cọ cho bóng ai có sở thích nữa đánh sáp ong bóng như soi gương luôn lại có người có như cầu đánh si theo lối giả cổ...</p>
      <div class="read_more">
        <a class="btn" routerLink="/blog-detail-1">Xem thêm</a>
      </div>
      </div>
    </div>
  </div>
  <div class="blog_list">
    <h4><a href="">Cách chọn mua đồ gỗ tự nhiên tốt và đẹp</a></h4>
    <h5>January  26th, 2020 | 16:00</h5>
    <div class="blog_para row">
      <a href="/blog-detail-2" class="col-5"><img src="assets/images/blog2.jpg" alt=""></a>
      <div class="col-7">
        <p class="para1">Được cải tạo từ một ngôi nhà cũ và vẫn giữ nguyên kiến trúc cũ, ngôi nhà vừa thể hiện được nét cổ điển sang trọng, nhưng lại có thể toát lên vẻ đẹp giản dị...</p>
      <div class="read_more">
        <a class="btn" href="/blog-detail-2">Xem thêm</a>
      </div>
    </div>
    </div>
  </div>
  <div class="blog_list">
    <h4><a href="/blog-detail-3">Ngôi nhà với phong cách cổ điển nhưng đầy sức quyến rũ ở mọi chi tiết dù là nhỏ nhất</a></h4>
    <h5>Febuary 3rd, 2020 | 09:20</h5>
    <div class="blog_para row">
      <a href="/blog-detail-3" class="col-5"><img src="assets/images/blog3.jpg" alt=""></a>
      <div class="col-7">
        <p class="para1">Được cải tạo từ một ngôi nhà cũ và vẫn giữ nguyên kiến trúc cũ, ngôi nhà vừa thể hiện được nét cổ điển sang trọng, nhưng lại có thể toát lên nét đẹp giản dị...</p>
      <div class="read_more">
        <a class="btn" href="/blog-detail-3">Xem thêm</a>
      </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
</div>
