<div class="header-top my-3">
  <div class="header-content-top">
    <span><i class="fas fa-shipping-fast"></i> Miễn phí vận chuyển</span>
  </div>
  <div class="header-content-top">
    <span><i class="fas fa-map-marker-alt"></i> 67 Cầu Giấy, quận Cầu Giấy, Hà Nội</span>
  </div>
  <div class="header-content-top">
    <span><i class="far fa-envelope"></i> dogohuyhung@gmail.com</span>
  </div>
</div>
<div class="container-fluid">
  <div class="row" id="header-bot">
    <div class="col-4">
      <div class="img-brand">
        <img class="img-fluid" src="assets/images/logo3.png">
    </div>
    </div>
    <div class="col-md-6 d-flex align-items-center" id="header-bot-search">
      <form class="row">
        <div class="form-group col-10 d-flex">
          <input id="header-bot-input" class="form-control mr-sm-2 full-input" type="search" placeholder="Tìm kiếm..." aria-label="Search">
        </div>
        <div class="form-group col-2">
          <button id="header-bot-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
        </div>
      </form>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="cart">
        <i class="fas fa-shopping-cart"></i>
        <a routerLink="/cart"> Giỏ hàng({{numCart}} sản phẩm)</a>
      </div>
    </div>
  </div>
  <div class="topnav row">
    <div class="col-md-12">
      <nav class="row justify-content-between">
        <ul class="menu-top">
          <li><a routerLink="/home">Trang chủ</a></li>
          <li><a routerLink="/pro-industry">Đồ gỗ công nghiệp</a></li>
          <li><a>Sản phẩm bán chạy</a></li>
          <li><a routerLink="/blog">Tin tức</a></li>
          <li><a routerLink="/about">Thông tin</a></li>
<!--          <li><a [routerLink]="['/login']">Đăng nhập</a></li>-->
<!--          <li><a [routerLink]="['/register']">Đăng kí</a></li>-->
        </ul>
        <ul class="menu-top col-md-3">
         <li><a (click)="logOut()"> Đăng xuất</a></li>
         <li><a [routerLink]="['/login']">Đăng nhập</a></li>
         <li><a [routerLink]="['/register']">Đăng kí</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

