.header-top{
  display: flex;
  justify-content: space-between;
}
.header-content-top span{
  color: orange;
}
@media screen and (max-width: 768px ){
  .header-top{
   display: none;
  }
}
.header-bot-input{

}
.header-bot {
  padding:15px 10px ;
  line-height: 30px;
  margin-bottom:5px;
}
.topnav {
  overflow: hidden;
  background-color: #602D00;
}
.topnav a:hover {
  background-color: chocolate;
  color: white;
}
.menu-top{
  margin: 0;
  width: 50%;
  justify-content: space-between;
  list-style: none;
  display: flex;
}
.menu-top li>a{
  color: white;
  display: inline-block;
  padding: 15px 8px;
  text-decoration: none;
}
. full-input{
  flex:1;
}
.cart>i{
  color: blue;
}

