.img-container {
  transition: transform .1s ease;
}
.img-container:hover {
  transform: scale(1.1);
}
.hotel-room{
  position: relative;
}
.thumbnail-child{
  background: #FCA671;
  padding: 5px;
  width: 70px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.price{
  color: red;
}
.cart:hover{
  color: blue;
}

.myBtn{
  width: 130px;
  background: #0062cc;
  color: white;
  border-radius: 25px;
}

.myBtn:hover{
  background-color: orange;
  color: black;
}
