<div class="section-breadcrum content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Trang chủ</a></li>
      <li class="breadcrumb-item"><a routerLink="/about">Thông tin</a></li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="detail-section">
        <img src="assets/images/about.jpg" alt="slider-1.jpg" class="w-100" />
        <div class="content-article">
          <h2>Giới thiệu</h2><br/>
          <h3 style="color: red">Công ty TNHH thiết kế và thi công Nội Thất Huy Hùng</h3>
          <div class="info-sm">
            <span> Người đăng: Admin </span>
            <span> Ngày đăng: 15/11/2019 </span>
            <span><i class="fas fa-eye"></i> 10 lượt xem</span>
            <span><i class="fas fa-comment"></i> 10 bình luận</span>
            <span><i class="fas fa-heart"></i> 10 lượt thích</span>
          </div>
          <!-- info sm -->
          <div class="summary-article">
            <p>Nội Thất Đẹp Huy Hùng Kính Chào Quý Khách !</p>
          </div>
          <div class="content-article">
            <p>
              Nội thất Cát Tường là công ty<strong> chuyên thiết kế và thi công</strong> các hạng mục nội thất gia đình theo phong cách hiện đại trên các chất liệu gỗ tự nhiên và gỗ công nghiệp.
              Đội ngũ nhân viên kinh doanh và nhân viên thiết kế trẻ năng động chuyên nghiệp và có trình độ. Nhà xưởng rộng, thiết bị máy móc hiện đại, đảm bảo chất lượng các sản phẩm đạt độ chắc chắn và thẩm mỹ cao.
            </p>
            <br/>
            <p>
              Những lý do khiến bạn không thể bỏ qua<strong> Nội Thất Đẹp Huy Hùng</strong> khi hoàn thiện nội thất cho ngôi nhà thân yêu của mình.
            </p>
            <br/>
            <p>
              Chúng tôi tạo ra sự khác biệt đối với các đối thủ cạnh tranh: Tập trung sản xuất đồ gỗ nội thất với chất lượng cao và độ chính xác đến từng chi tiết sản phẩm.
              Với phương châm đưa chất lượng sản phẩm lên hàng đầu, để khách hàng cảm thấy yên tâm và hài lòng nhất khi sử dụng sản phẩm của chúng tôi. Để cho ra một sản phẩm chất lượng và có độ thẩm mỹ cao luôn luôn được tạo thành từ nhiều yếu tố:
              Máy móc,nguyên vật liệu và đặc biệt là tay nghề người thợ, sự tâm huyết của người thợ đến từng sản phẩm. Tất cả các yếu tố đó đã làm nên sản phẩm để mang lại sự hài lòng của khách hàng và đem lại một không gian nội thất đẹp nhất cho ngôi nhà của bạn.
            </p>
            <br/>
            <p>Chất lượng sản phẩm: Một sản phẩm nội thất chúng tôi làm ra phụ thuộc vào rất nhiều yếu tố khác nhau như Nguyên vật liệu, máy móc, con người...</p>
            <br/>
            <h5><b>Nguyên vật liệu :</b></h5><br/>
            <ul class="about-made">
              <li>Đối với các sản phẩm gia công bằng gỗ tự nhiên thì chúng tôi luôn luôn quan tâm đến chất lượng của gỗ và độ ẩm của gỗ . Gỗ phải đều màu, không có giác gỗ, hạn chế tối đa cong vênh, nứt nẻ và mối mọt. Gỗ phải được tẩm sấy đạt độ ẩm cho phép mới được đưa vào sử dụng.</li>
              <li>Đối với sản phẩm gia công bằng gỗ công nghiệp : Gỗ MFC màu xanh (ván dăm), MDF (ván sợi), Ván ghép thanh …. Bên ngoài có thể sơn hoặc phủ lớp ván dán Veneer, Acrylic, Laminate ……  Thì vấn đề chúng tôi quan tâm nhất có là độ ẩm của dăm gỗ, sợi, ván ghép, loại keo ghép trộn cùng để ép, ghép tạo ra ván.
                Chúng tôi luôn lựa chọn các nhà cung cấp đạt được các tiêu chí mà chúng tôi đưa ra trong khâu lựa chọn ván. Chính điều đó luôn mang đến sự yên tâm không chỉ cho khách hàng sử dụng mà còn mang lại sự yên tâm cho chúng tôi trong thời gian bảo hành và sau khi bảo hành sản phẩm  cho khách hàng .</li>
            </ul>
            <br/>
            <h5><b>Máy móc :</b></h5><br/>
            <p>Một sản phẩm đạt chất lượng và độ thẩm mỹ cao thì yếu tố máy móc rất quan trọng. Sự chính xác của máy móc giúp sản phẩm làm ra luôn có độ kín khít, thẩm mỹ cao nhất. Chính vì vậy chúng tôi luôn luôn lựa chọn và nhập các loại máy từ các nước tiên tiến và phát triển trên thế giới như: Nhật, Hàn Quốc, Ý, …</p>
            <br/>
            <h5><b>Con người :</b></h5><br/>
            <p>Ngoài những yếu tố về máy móc và nguyên vật liệu thì chúng tôi có chú ý về sự hiểu biết, tay nghề và sự nhiệt huyết trong công việc của người thợ đó để tạo ra những sản phẩm có độ chuẩn xác và độ thẩm mỹ cao đem đến những sản phẩm hoàn hảo đến tay người tiêu dùng.</p>
            <br/>
            <p>Chúng tôi luôn lựa chọn thợ có trình độ chuyên môn cao, am hiểu về vận hành máy móc, có thâm niên trong nghề, có trách nhiệm cao trong quá trình làm việc, điều đó đã giúp chúng tôi rất yên tâm về các đơn hàng khi chuyển về xưởng gia công.
              Sản phẩm của chúng tôi luôn luôn được khách hàng đánh giá rất cao không những về chất lượng, độ thẩm mỹ mà còn được đánh giá rất cao về mức độ chuyên nghiệp, tâm huyết với từng sản phẩm, nhiệt tình khi chăm sóc khách hàng.</p><br/>
            <p>Kiểu dáng, mẫu mã : Mang tính chất hiện đại trẻ trung hay cổ điển, tân cổ điển ….</p><br/>
            <h5><i><b>Mọi đóng góp vui lòng liên hệ: </b></i></h5><br/>
            <ul class="about-made">
              <li>Văn phòng: số 67 Cầu Giấy, quận Cầu Giấy, Hà Nội</li>
              <li>Xưởng sản xuất 1: Trung Châu – Đan Phượng – Hà Nội</li>
              <li>Xưởng sản xuất 2: Tràng sơn – Thạch thất – Hà nội</li>
              <li>ĐT: 024.6686.34.38 Hotline: 0938261248</li>
              <li>Website: http://dogohuyhung.com/</li>
              <li>Email:dogohuyhung@gmail.com</li>
            </ul>
          </div>
        </div>
        <!-- content arctile -->
        <div class="relation-article">
          <h2>Bài viết liên quan</h2>
          <div class="relation-box">
            <div class="owl-relation owl-carousel owl-theme">
              <div class="item">
                <a href="#"><img src="assets/images/slider-1.jpg" alt="slider-1.jpg" class="w-100"/></a>
                <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
                <p class="date"><span>Ngày đăng: 14-11-2019</span></p>
                <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit magna sapien, et sollicitudin ante ornare at.</p>
              </div>
              <!-- item -->
              <div class="item">
                <a href="#"><img src="assets/images/slider-2.jpg" alt="slider-2.jpg" class="w-100"/></a>
                <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
                <p class="date"><span>Ngày đăng: 14-11-2019</span></p>
                <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit magna sapien, et sollicitudin ante ornare at.</p>
              </div>
              <!-- item -->
              <div class="item">
                <a href="#"><img src="assets/images/slider-3.jpg" alt="slider-3.jpg" class="w-100"/></a>
                <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
                <p class="date"><span>Ngày đăng: 14-11-2019</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit magna sapien, et sollicitudin ante ornare at.</p>
              </div>
              <!-- item -->
            </div>
          </div>
          <!-- relation-box -->
        </div>
        <!-- relation article -->
        <div class="comment-section">
          <h2>Bình luận bài viết</h2>
          <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="5"></div>
        </div>
        <!-- comment section -->
      </div>
      <!-- detail section -->
    </div>
    <!-- col-9 left -->
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="right-box">
        <h2 class="title-right-box">Chuyên mục</h2>
        <ul class="category-right">
          <li><a href="#">Mobile (100)</a></li>
          <li><a href="#">Game Online (100)</a></li>
          <li><a href="#">PC/Console (100)</a></li>
          <li><a href="#">Esport (100)</a></li>
          <li><a href="#">Review (100)</a></li>
          <li><a href="#">Game job (100)</a></li>
        </ul>
      </div>
      <!-- right box -->
      <div class="new-blog">
        <h2 class="title-right-box">Bài viết mới</h2>
        <div class="post-right">
          <div class="image-post-right">
            <a href="#"><img src="assets/images/small-blog.jpg" width="80"/></a>
          </div>
          <div class="detail-post-right">
            <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
            <span>Ngày đăng: 14/11/2019</span>
          </div>
        </div>
        <!-- blog-right -->
        <div class="post-right">
          <div class="image-post-right">
            <a href="#"><img src="assets/images/small-blog.jpg" width="80"/></a>
          </div>
          <div class="detail-post-right">
            <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
            <span>Ngày đăng: 14/11/2019</span>
          </div>
        </div>
        <!-- blog-right -->
        <div class="post-right">
          <div class="image-post-right">
            <a href="#"><img src="assets/images/small-blog.jpg" width="80"/></a>
          </div>
          <div class="detail-post-right">
            <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
            <span>Ngày đăng: 14/11/2019</span>
          </div>
        </div>
        <!-- blog-right -->
        <div class="post-right">
          <div class="image-post-right">
            <a href="#"><img src="assets/images/small-blog.jpg" width="80"/></a>
          </div>
          <div class="detail-post-right">
            <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
            <span>Ngày đăng: 14/11/2019</span>
          </div>
        </div>
        <!-- blog-right -->
      </div>
      <!-- right box -->
      <div class="new-blog">
        <h2 class="title-right-box">Bài viết xem nhiều</h2>
        <div class="post-right">
          <div class="number-post">1</div>
          <div class="detail-post-right">
            <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
          </div>
        </div>
        <!-- post-right -->
        <div class="post-right">
          <div class="number-post"><span class="number">2</span></div>
          <div class="detail-post-right">
            <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
          </div>
        </div>
        <!-- post-right -->
        <div class="post-right">
          <div class="number-post"><span class="number">3</span></div>
          <div class="detail-post-right">
            <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
          </div>
        </div>
        <!-- post-right -->
        <div class="post-right">
          <div class="number-post"><span class="number">4</span></div>
          <div class="detail-post-right">
            <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
          </div>
        </div>
        <!-- post-right -->
        <div class="post-right">
          <div class="number-post"><span class="number">5</span></div>
          <div class="detail-post-right">
            <h2><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h2>
          </div>
        </div>
        <!-- post-right -->
      </div>
      <!-- right box -->
      <div class="right-box">
        <h2 class="title-right-box">Quảng cáo</h2>
        <a href="#"><img src="assets/images/banner-adv.jpg" alt="banner-adv.jpg" class="w-100"/></a>
      </div>
      <!-- right box -->
      <div class="new-blog">
        <h2 class="title-right-box">Bạn bè</h2>
        <div class="post-right">
          <div class="detail-post-right">
            <h2><a href="#">Blog 1</a></h2>
          </div>
        </div>
        <!-- post-right -->
        <div class="post-right">
          <div class="detail-post-right">
            <h2><a href="#">Blog 2</a></h2>
          </div>
        </div>
        <!-- post-right -->
        <div class="post-right">
          <div class="detail-post-right">
            <h2><a href="#">Blog 3</a></h2>
          </div>
        </div>
        <!-- post-right -->
      </div>
      <!-- right box -->
      <div class="new-blog">
        <h2 class="title-right-box">Facebook</h2>
      </div>
      <!-- right box -->
    </div>
    <!-- col-3 right -->
  </div>
</div>
