.para1{
  text-indent: 40px;
  padding-top: 20px;
}

.img-blog-detail{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog_para{
  padding-top: 10px;
  padding-bottom: 30px;
}

.care-info li a{
  color: #0062cc;
}

.care-info{
  padding-bottom: 20px;
}

.care-info li a:hover{
  color: #00bcd4;
}
