<div class="section-breadcrum content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Trang chủ</a></li>
      <li class="breadcrumb-item"><a routerLink="/blog">Tin tức</a></li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="main1">
    <div class="content">
      <h2>CÁCH CHỌN MUA ĐỒ GỖ TỰ NHIÊN TỐT VÀ BỀN ĐẸP.</h2>
    </div>
    <div class="blog">
      <div class="blog_list">
        <h5>Thứ 2, 04/12/2019 | 14:35</h5>
        <div class="blog_para">
          <p class="para1">Nguồn gốc thiên nhiên khiến nội thất gỗ vừa mang nét tinh tế, đặc trưng rất khó nhầm lẫn lại
            vừa mang vẻ đẹp gần gũi.
            <br/>Hiện nay trên thị trường tiêu dùng, đồ dùng gia đình bằng gỗ rất phong phú, đa dạng về kiểu dáng, mẫu
            mã và chủng loại. Để chọn mua được đồ dùng bằng gỗ đảm bảo độ bền, đẹp, cần lưu ý một số điểm sau:
            <br/>Kiểm tra chất lượng các bộ phận, hoa văn, nước sơn…
            <br/>Khi mua, bạn lưu ý kiểm tra các bộ phận chủ yếu như: Chân, khung cửa, mặt ngăn kéo…phải được đóng bằng
            loại gỗ có chất lượng tốt, nếu có trang trí hoa văn thì phải sắc nét, đẹp mắt,
            không có những đầu mẩu gỗ thừa, mắt sâu hay gỗ bị rạn nứt. Không nên mua đồ dùng mà bộ phận gỗ đóng bên
            trong (phần che khuất) như tấm ngăn, tấm lót, ngăn kéo… bị mọt, sứt sẹo, chắp vá, thiếu hụt. Kiểm tra chất
            lượng các bộ phận, hoa văn, nước sơn…
            <br/>Đối với những đồ gỗ quét sơn, màu sơn phải đều, có độ bóng đẹp, không có nốt sần hay vết nhăn. Về thẩm
            mỹ, không nên chọn đồ gỗ có màu quá tương phản nhau ở các bộ phận.
            <br/>Kiểm tra kết cấu nội thất gỗ
            <br/>Các đồ gỗ dùng trong gia đình đang bày bán trên thị trường thường có 2 loại: Kết cấu khung và kết cấu
            ghép liên tiếp. Khi chọn loại kết cấu khung, bạn cần chú ý quan sát kỹ chỗ kết hợp của khung có chắc chắn
            không, có bị hở không.
            Nếu mua cửa gỗ thì 4 góc cửa phải vuông góc. Đối với loại kết cấu ghép liên tiếp cần kiểm tra chỗ tiếp giáp
            nhau có thể chịu được lực tốt không.
            Nếu bạn mua một chiếc tủ gỗ hoặc cửa ra vào, bạn cần kiểm tra kỹ lưỡng xem bản lề của chúng có được vững
            chắc, ăn toàn và đủ mạnh để gánh đỡ trọng lượng của cánh cửa hay không nhé!
            <br/>Kiểm tra về độ khít
          </p>
          <div class="img-blog-detail">
            <img src="/assets/images/blog-detail-2.jpg">
          </div>
          <br/>
          <p>Khi mua đồ dùng bằng gỗ phải quan sát đến những kẽ hở bên trong không được to quá 0,5mm, kẽ hở bên ngoài
            không quá 0,2mm. Những chỗ gắn keo hay chạm khảm, tra mộng phải khít, không được lỏng lẻo, đường nét tinh
            xảo.
            Các linh kiện bằng kim loại ghép thêm vào phải chắc chắn, ngay ngắn. Các đầu đinh không được lộ ra ngoài bề
            mặt gỗ hoặc hụt quá sâu.
            <br/>Cách bảo quản đồ gỗ
            <br/>Chống lại mặt trời và hơi nóng: Các tia cực tím là nguyên nhân làm cho đồ gỗ nhanh bị xỉn màu và làm
            bong lớp véc-ni, lớp sơn phủ bên ngoài. Để giữ cho đồ gỗ được tốt, màu sắc bền lâu, tuyệt đối không để đồ gỗ
            nơi có ánh nắng chiếu vào.
            Cũng không được kê đồ gỗ cạnh những nơi tạo ra sức nóng bởi khi tiếp xúc với nhiệt độ nóng thì gỗ sẽ bị co
            lại, ảnh hưởng đến tuổi thọ đồ gỗ. Vào mùa nóng, cần giữ được độ ẩm hơn 50% cho phòng để đồ gỗ.
        </div>
      </div>
    </div>
  </div>
  <div class="care-info">
    <strong><h5>Tin liên quan</h5></strong>
    <li><a routerLink="/blog-detail-1">Không cần hóa chất tẩy rửa, những mẹo sau đây giúp làm mới đồ gỗ hiệu quả nhất.</a></li>
    <li><a routerLink="/blog-detail-3">Ngôi nhà với phong cách cổ điển nhưng đầy sức quyến rũ ở mọi chi tiết dù là nhỏ nhất</a></li>
  </div>
</div>

