.body-wrapper{
  padding: 25px 0px 25px 0px;
}
.single-product-area{
  display: flex;
  flex-wrap: wrap;
  padding-left: -15px;
  padding-right: -15px;
}

.product-details-images .lg-image img,
.product-details-thumbs .sm-image img {
  width: 100%;
}

.product-details-thumbs .sm-image {
  cursor: pointer;
}

.product-details-ref {
  font-size: 13px;
  color: #7a7a7a;
}

.product-details-view-content .product-info{
  padding-top: 50px;
}

.product-details-view-content .product-info h2 {
  font-size: 18px;
  letter-spacing: -.025em;
  line-height: 24px;
  color: #0363cd;
  text-transform: capitalize;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.product-details-view-content .product-info .price-box {
  margin-bottom: 20px;
}
.product-details-view-content .product-info .price-box .new-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  color: #e80f0f;
}
.product-details-view-content .content-center .product-variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product-details-view-content .product-desc {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}
.product-details-view-content .product-desc p {
  margin-bottom: 20px;
}

.pt-20 {
  padding-top: 20px !important;
}

.rating > li {
  display: inline-block;
  margin: 0;
  list-style: none;
}

.rating li i {
  font-size: 12px;
  color: #fed700;
}

.rating .review-item i{
  padding-left: 20px;
  position: relative;
  color: #8E8E8E;
}

.cart-plus-minus {
  float: left;
  margin-right: 15px;
  position: relative;
  width: 76px;
  text-align: left;
}

.cart-plus-minus .cart-plus-minus-box {
  border: 1px solid #e1e1e1;
  color: #242424;
  height: 46px;
  text-align: center;
  width: 48px;
  width: 48px;
  width: 3rem;
  background: #fff;
}

.cart-plus-minus .dec.qtybutton, .cart-plus-minus .inc.qtybutton {
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  color: #333333;
  cursor: pointer;
  height: 23px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 28px;
}

.cart-plus-minus .dec.qtybutton:hover, .cart-plus-minus .inc.qtybutton:hover {
  background: #ddd;
}
.cart-plus-minus .dec.qtybutton {
  bottom: 0;
  right: 0;
}
.cart-plus-minus .inc.qtybutton {
  border-bottom: none;
  top: 0;
  right: 0;
}

.cart-quantity {
  margin-top: 25px;
  overflow: hidden;
  float: left;
  width: 100%;
}

.cart-quantity label {
  display: block;
  font-size: 16px;
  font-weight: 600;
}

.cart-quantity .add-to-cart {
  border: none;
  font-size: 14px;
  color: #242424;
  position: relative;
  background: #fed700;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  padding: 13px 70px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.cart-quantity .add-to-cart:hover {
  background: #242424;
  color: #ffffff;
}
.block-reassurance {
  float: left;
  width: 100%;
}
.block-reassurance > ul > li {
  border-bottom: 1px solid #e1e1e1;
  list-style: none;
}
.block-reassurance > ul > li:last-child {
  border-bottom: none;
}
.reassurance-item {
  padding: 25px 0 20px;
}
.reassurance-item p {
  margin: 0;
}

.reassurance-item div i{
  color: #005cbf;
}

.reassurance-icon {
  float: left;
  padding-right: 10px;
}
.reassurance-icon i {
  font-size: 18px;
}
.table-content table td .cart-plus-minus {
  float: none;
  margin: 0 auto;
}
.li-product-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.li-product-menu li {
  display: inline-block;
  position: relative;
  padding-right: 30px;
  z-index: 99;
}
.li-product-menu > li > a > span {
  position: relative;
}
.li-product-menu > li > a span::before, .li-product-menu > li > a.active span::before {
  content: "";
  position: absolute;
  bottom: -11px;
  opacity: 0;
  left: 0;
  background: #fed700;
  right: 0;
  height: 1px;
  display: block;
}
.li-product-menu > li > a.active span::before {
  background: #fed700;
  opacity: 1;
}
.li-product-menu > li:hover > a span::before {
  opacity: 1;
  background: #fed700;
}
.li-product-menu li span.active::before {
  opacity: 1;
  width: 100%;
}
.li-product-menu li span:hover::before {
  opacity: 1;
  width: 100%;
}
.li-product-menu li a {
  color: #c8c8c8;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  padding: 0 30px 0 0;
  position: relative;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.25px;
  border-right: 1px solid #e1e1e1;
}
.li-product-menu li:last-child a {
  border-right: 1px solid transparent;
}
.li-product-menu > li a.active {
  color: #242424;
}
.li-product-menu li a:hover {
  color: #242424;
}

.li-product-menu > li > a span::before,
.li-product-menu > li > a.active span::before {
  bottom: -12px;
}
.tab-content .tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  width: 100%;
}
.li-section-title {
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  display: inline-block;
  position: relative;
}
.li-section-title > h2 {
  float: left;
  font-size: 20px;
  color: #242424;
  font-weight: 500;
  letter-spacing: -.025em;
  padding: 0;
  line-height: 1;
  padding-bottom: 13px;
  z-index: 0;
}
.li-sub-category-list > li > a::after, .li-section-title > h2 > span::before {
  content: "";
  position: absolute;
  bottom: -23px;
  background: #fed700;
  height: 1px;
  left: 0;
  right: 0;
  opacity: 0;
}
.li-section-title > h2 > span {
  display: inline-block;
  position: relative;
}
.li-section-title > h2 > span::before {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -22px;
}
.product-active {
  padding: 0 10px;
  overflow: hidden;
}
.product-active:hover {
  overflow: visible;
}
.slider-active .owl-nav div,
.product-active .owl-nav div,
.special-product-active .owl-nav div {
  color: rgba(36,36,36,.15);
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  z-index: 8;
}
.product-active .owl-nav div:hover {
  color: #fed700;
}
.slider-active:hover .owl-nav div, .product-active:hover .owl-nav div {
  opacity: 1;
}
.slider-active:hover .owl-nav div.owl-next, .product-active:hover .owl-nav div.owl-next {
  right: 10px;
}
.slider-active .owl-nav div.owl-next, .product-active .owl-nav div.owl-next {
  right: 0;
  left: auto;
}
.slider-active .owl-nav > .owl-prev > i,
.product-active .owl-nav > .owl-prev > i,
.slider-active .owl-nav > .owl-next > i,
.product-active .owl-nav > .owl-next > i {
  font-size: 55px;
  font-weight: 700;
}
.product-active .owl-nav div.owl-prev {
  left: -20px;
}
.product-active:hover .owl-nav div.owl-prev {
  top: 55%;
}
.product-active .owl-nav div.owl-next {
  right: -20px;
}
.product-active:hover .owl-nav div.owl-next {
  top: 55%;
  right: -20px;
}
.single-product-wrap {
  background: #ffffff none repeat scroll 0 0;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 300ms ease-in 0s;
}
.single-product-wrap:hover {
  margin: 0 0 -75px;
  padding: 0 0 75px;
  z-index: 9;
}
.single-product-wrap.mt-40:hover {
  margin: 40px 0 -85px;
}
.single-product-wrap::before {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
  border-radius: 4px;
  bottom: -15px;
  content: "";
  left: -10px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  right: -10px;
  top: -15px;
  -webkit-transition: all 300ms ease-in 0s;
  transition: all 300ms ease-in 0s;
  visibility: hidden;
  z-index: 0;
}
.single-product-wrap:hover:before{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
}
.single-product-wrap:hover .secondary-image{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.single-product-wrap:hover .add-actions {
  bottom: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.tab-content .tab-pane.active {
  height: auto;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
}
.sp-carousel-content .cart-plus-minus {
  float: unset;
  display: inline-block;
}

.sp-carousel-content .cart-quantity label {
  display: inline-block;
  margin-right: 10px;
}

.sp-carousel-content .cart-quantity {
  margin-top: 5px;
}

.sp-normal-content .cart-quantity {
  margin-top: 0;
}

.sp-affiliate-content .cart-quantity {
  margin-top: 3px;
  overflow: hidden;
  float: left;
  width: 100%;
}

.sp-sale-content .product-info .price-box {
  margin: 0 0 5px;
}

@media only screen and (max-width: 1199px) {
  /*Product Nav Arrow*/
  .product-active .owl-nav {
    display: none;
  }
}
