
<div class="page-head">
</div>
<!-- //banner -->
<!-- check out -->
<div class="checkout">
  <div class="container">
    <h3>GIỎ HÀNG</h3>
    <div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
      <table class="timetable_sub">
        <thead>
        <tr>
          <th>Sản phẩm</th>
          <th>Tên sản phẩm</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
          <th>Xóa</th>
        </tr>
        </thead>
        <tr class="product">
          <td class="invert-image"><a href="single.html"><img src="assets/images/cart/w4.png" alt=" "
                                                              class="img-responsive"/></a></td>
          <td class="invert">Hand Bag</td>
          <td class="invert-price">22.0</td>
          <td class="invert-number">
<!--            <div class="quantity">-->
<!--              <div class="quantity-select">-->
<!--                <div class="entry value-minus">&nbsp;</div>-->
<!--                <div class="entry value"><span>1</span></div>-->
<!--                <div class="entry value-plus active">&nbsp;</div>-->
<!--              </div>-->
<!--            </div>-->
            <input type="number" value="2" min="1">
          </td>
          <td class="invert-money">44.0</td>
          <td class="invert-closeb">
<!--            <div class="rem">-->
<!--              <div class="close1"></div>-->
<!--            </div>-->
<!--            <script>$(document).ready(function (c) {-->
<!--                $('.close1').on('click', function (c) {-->
<!--                    $('.rem1').fadeOut('slow', function (c) {-->
<!--                        $('.rem1').remove();-->
<!--                    });-->
<!--                });-->
<!--            });-->
<!--            </script>-->
            <i class="fas fa-minus-circle"></i>
          </td>
          <!--quantity-->
      </table>
    </div>
    <div class="checkout-left">

      <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
        <a href="/home"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Quay lại trang chủ</a>
      </div>
      <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
        <h4>Thanh toán</h4>
        <ul>
          <li>Hand Bag <i>-</i> <span>$45.99</span></li>
          <li>Watches <i>-</i> <span>$45.99</span></li>
          <li>Sandals <i>-</i> <span>$45.99</span></li>
          <li>Wedges <i>-</i> <span>$45.99</span></li>
          <li>Total <i>-</i> <span>$183.96</span></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
