<div class="section-breadcrum content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Trang chủ</a></li>
      <li class="breadcrumb-item"><a routerLink="/blog">Tin tức</a></li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="main1">
    <div class="content">
      <h2>Không cần hóa chất tẩy rửa, những mẹo sau đây giúp làm mới đồ gỗ hiệu quả nhất.</h2>
    </div>
    <div class="blog">
      <div class="blog_list">
        <h5>Thứ 5, 25/01/2020 | 16:18</h5>
        <div class="blog_para">
          <p class="para1">Trong mỗi gia đình, các món đồ gỗ luôn rất gần gũi và quen thuộc với chúng ta. Tủ để đồ,bàn
            ghế, kệ để ti vi, giá sách,
            giường, bàn ăn... thường được làm bằng gỗ. Thậm chí, nhiều gia định yêu thích những món đồ bằng gỗ còn lát
            sàn nhà bằng gỗ hoặc các loại cửa lớn, nhỏ trong nhà cũng được thiết kế bằng gỗ.
            Tuy nhiên, sau một quá trình sử dụng, các loại đồ gỗ thường trở nên mất đi độ sáng bóng, trông cũ kĩ và "xấu
            xí" hơn.
            <br/>Chính vì thế, những cách thức đơn giản sau đây sẽ giúp bạn làm mới các đồ vật bằng gỗ một cách nhanh
            chóng và hiệu quả nhất.
            <br/>Cách lau chùi giúp đồ gỗ trở nên sáng bóng:
            <br/>Đồ gỗ dùng lâu ngày sẽ mất dần độ bóng, qua vài năm sẽ khiến người nhìn có cảm giác cũ kĩ hơn. Chính vì
            thể, những món đồ như bàn ghế, các loại tủ đồ,... sẽ khiến cho không gian nhà bạn không còn lộng lẫy, sáng
            đẹp như trước nữa.</p>
          <div class="img-blog-detail">
            <img src="/assets/images/blog-detail-1.jpg">
          </div>
          <h3><strong>Dùng dấm và dầu oliu pha với nhau để lau đồ gỗ sẽ giúp đồ đạc sáng bóng.</strong></h3>
          <br/>
          <p>Cần áp dụng ngay cách lau chùi đồ gỗ sau đây để giúp chúng sáng đẹp trở lại: Trộn 4 phần dầu oliu với một
            phần dấm trắng và đổ vào chai xịt. Xịt dung dịch lên một miếng
            vả mềm - và lau khắp bề mặt gỗ - bạn sẽ thấy mặt gỗ sáng bóng trở lại ngay lập tức.
            <br/><h5>Lưu ý:</h5> Bạn nên thực hiện cách này 2-3 lần mỗi tuần để gỗ nhanh chóng lấy lại vẻ sáng bóng ban
          đầu.
          <br/>Xóa bỏ những vết xước trên đồ gỗ.
          <br/>Do trong quá trình sử dụng, các lại đồ gỗ có thể xuất hiện những vết xước nhỏ do va quệt hoặc do dao, kéo
          chạm vào nên có thể làm cách như trên để các đồ vật quay lại với vẻ sáng bóng ban đầu của chúng.
        </div>
      </div>
    </div>
  </div>
  <div class="care-info">
    <strong><h5>Tin liên quan</h5></strong>
    <li><a routerLink="/blog-detail-2">Cách chọn mua đồ gỗ tự nhiên tốt và đẹp</a></li>
    <li><a routerLink="/blog-detail-3">Ngôi nhà với phong cách cổ điển nhưng đầy sức quyến rũ ở mọi chi tiết dù là nhỏ nhất</a></li>
  </div>
</div>
